* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    /* padding: 2rem 10rem; */
    background-color: rgb(242, 242, 242);
}

/* Header section */
.header-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.header-container nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.header-container .logo a,
.header-container nav ul li a:link {
    text-decoration: none;
    color: #3f3f3f;
}

.header-container nav ul li a:visited {
    color: #000;
}

.header-container nav ul li a:hover {
    color: #9f0303;
}

/* Hero section */
.hero-container {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.hero-container .hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Line with animation */
.underline {
    width:0;
    height: 3px;
    background-color: #9f0303;
    animation: expandLine 2s ease-out forwards;
}

@keyframes expandLine {
    form {
        width: 0;
    }

    to {
        width: 100px;
    }
}


.hero-container h1 {
    font-size: 4.5rem;
}

/* Hero Image or Profile section */
.hero-container img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.50);
    object-fit:cover;
}
